%header
  %h1
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", alt:"mercari"

  %nav.progress-bar.signup-bar
    %ol
      %li.active
        会員情報
        .progress-status.progress-status-first
      %li.active
        お届け先住所入力
        .progress-status
      %li
        完了
        .progress-status.progress-status-last
%main
  .content
    .identify.address
      %section.identify__title
        %h2 住所入力
      %section.identify__form
        = render partial: "address_form", locals: { path: addresses_path(@user) }
= render "layouts/sub_footer"