= render 'layouts/header'
.content
  .content__profile
    %h2.content__profile__profile-title プロフィール
    .content__profile__mine
      .content__profile__mine__img
        = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", size: "60x60", alt: "顔写真", class: "content__profile__mine__img"
      .content__profile__mine__name
        %input.name{ value: "名前", type: "name"}/
    .content__profile__text
      %textarea.text{ value: "text", type: "textarea"}
      .content__profile__text__edit
        %input.edit{value:"変更する",type:"submit"}
        

  = render "layouts/sideber"

= render 'layouts/footer'