.spend
  .spend__title
    %p.spend-title 支払い方法

  .spend__main
    .spend__main__card-num クレジットカード一覧

    .spend__main__next
      = link_to "クレジットカードを追加する", "#", class: "next"
      .far.fa-credit-card
  .spend__main__bottom
    = link_to "支払い方法について >", "#", class:"how-pay"