.contents__done
  .type-done 会員登録完了
  .type__thx ありがとうございます。
  .type__regi 会員登録が完了しました。
  .red__logo-start
    %button.start__app{type: "submit"} F marketを始めるはじめる
  = image_tag "applogo.jpeg", class:"background__logo", size: "460x250"  