/* クレジットカード追加ページ- create.html.haml================================ */
.spend{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__title{
    height: 65px;
    padding: 16px;
    border-bottom:1px solid #f5f5f5;
    p {
      font-size: 22px;
      text-align: center;
      font-weight:bolder;
    }
  }
  &__main{
    // padding: 40px 80px 64px;
    width: 343px;
    margin: 40px auto;
    .spend-font{
      font-size: 14px;
      font-weight: 700;
      margin:10px;
    }
    &__card-num{
      width: 320px;
      font-weight: bold;
      padding: 20px 0 20px;
      .card-num{
        min-height: 50px;
        width: 100%;
        max-width: 668px;
        padding: 10px 16px 8px;
        margin: 10px 0 10px ;
        font-size: 20px;
      }
      .credit{
        height: 40px;
        // width: 60%;
        padding: 5px;
      }
    }
    &__expiration{
      align-items: center;
      padding: 20px 0 20px;
      &__days{
        align-items: center;
        display: flex;
        .expiration-day{
          height: 50px;
          width: 80%;
          background-color: #fff;
          border-color: #ccc;
          padding: 10px 16px 8px;
          margin: 20px 0 20px;
          font-size: 20px;
        }
        .spend-day{
          // margin-left: 8px;
          display: inline-block;
        }
      }
      &__year, &__month {
        width: 50%;
      }
    }
    &__security-num{
      padding: 20px 0 20px;
      .security-num{
        min-height: 50px;
        max-width: 668px;
        width: 100%;
        padding: 10px 16px 8px;
        font-size: 20px;
        margin: 10px 0 10px ;
      }
    }
    &__next{
      height: 50px;
      width: 320px;
      margin: 16px auto 32px;
      background-color: red;
      text-align: center;
      position: relative;
      .next{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        line-height: 60px;
        color: white;
      }
    }
  }
  .requred{
    color: white;
    background-color: red;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin : 0 0 5px 8px;
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 5px;
  }
}


/* クレジットカード追加ページ- index.html.haml================================ */
.spend__area{
  background-color: #fff;
  height: 400px;
  .spend__title{
    width: 600px;
  }
  .far.fa-credit-card{
    font-size: 20px;
    color: white;
    transform: translateY(99%) translateX(-600%);  
  }
}  
/* クレジットカード追加リンク- addcredit.html.haml================================ */
.far.fa-credit-card{
  font-size: 20px;
  color: white;
}
.spend__main__bottom{
  width: 100%;
  height: 100px;
  border-top:1px solid #f5f5f5;
  text-align: right;
  padding-top: 40px;
  .how-pay{
    text-decoration: none ;
    color: #0099e8;
    padding-right: 30px;

  }
  .spend__main__bottom{
    width: 100%;
    height: 100px;
    border-top:1px solid lightgray;
    text-align: right;
    padding-top: 40px;
    .how-pay{
      text-decoration: none ;
      color: #0099e8;
    }
  }
}
/* クレジットカード詳細ページ- cards show.html.haml================================ */
.credit_card_info{
  text-align: center;
  button{
    background-color: red;
    color: #fff;

  }
}
/* クレジットカード新規登録ページ- cards new.html.haml================================ */
.spend__area__new{
  width: 600px;
  height: 700px;
  background-color: #fff;
}
.card-num{
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
}
.requred{
  width: 50px;
  height: 30px;
  background-color: red;
  color: #fff;
}
.spend__main__next{
  height: 50px;
  .next{
    background-color: red;
  }
}