// カテゴリー検索結果
.category {
  width: 1020px;
  margin: 0 auto;
  .index{
    font-size: 22px;
    margin: 24px 0px 8px;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .category__item {
      height: 250px;
      width: 180px;
      margin: 0px 15px 30px 0px;
      position: relative;
      &:hover {
        box-sizing: content-box;
        box-shadow: 0 0 2px blue;
      }
      a {
        text-decoration: none;
      }
      .img {
        height: 185px;
        width: 180px;
        position: absolute;
        min-height: 180px;
        overflow: hidden;
        z-index: 1;
      }
      .stop_category {
        display: block;
        width: 120px;
        height: 120px;
        text-align: center;
        transform: rotate(-45deg);
        border-bottom: 60px solid red;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        font-size: 14px;
        position: absolute;
        left: -60px;
        top: -60px;
        writing-mode: vertical-lr;
        z-index: 5;
        .stop_text_category {
          width: 40%;
          text-align: center;
          color: #ffffff;
          display: block;
          position: relative;
          top: 80px;
          font-weight: bold;
          transform: rotate(-90deg);
        }
      }
      &__price {
        text-decoration: none;
        color: white;
        position: absolute;
        height: 28px;
        width: auto;
        font-size: 17px;
        text-align: center;
        bottom: 80px;
        border-radius : 0 15px 15px 0;
        background-color: rgba(0, 0, 0, 0.315);
        z-index: 10;
        p {
          line-height: 28px;
          padding: 0 10px;
        }
      }
      &__name {
        height: 64px;
        width: 180px;
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        p {
          color: #333;
          padding: 8px 15px;
        }
      }
      p {
        text-overflow: ellipsis;
        font-size: 16px;
        word-break: break-all;
        z-index: 10;
      }
    }
  }
  // カテゴリー一覧
  &__box {
    width: 700px;
    margin: 0 auto;
  }
  &__tags {
    overflow: hidden;
    .category__tag {
      float: left;
      display: block;
      background-color: #fff;
      text-align: center;
      border-radius: 4px;
      width: auto;
      min-width: 80px;
      height: 40px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      padding: 0 30px;
      margin: 5px;
      font-size: 16px;
      line-height: 40px;
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
  &__title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 7px 30px 0 30px;
    height: 40px;
    color: #fff;
    background-color: #ea352d;
    margin-top: 25px;
    font-size: 22px;
  }
  &__content {
    padding: 24px 30px 10px 30px;
    background-color: #fff;
    .link {
      font-size: 16px;
      margin: 8px 0;
    }
    a {
      text-decoration: none;
      color: #0099e8;
    }
    .subcategory {
      padding: 15px 0 5px;
      .subsubcategories {
        padding: 0 20px 10px;
        overflow: hidden;
        .subsubcategory {
          float: left;
          width: 50%;
          padding: 0 20px 0 0;
          font-size: 16px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}