.buy {
  .box {
    border-bottom: 1px solid #f5f5f5;
  }
  .item-box {
    padding: 0;
  }
  &-head {
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
  }
  &-content {
    padding: 32px 16px;
    .item-info {
      width: 343px;
      display: flex;
      margin: 0 auto;
      &-img {
        height: 80px;
        width: 80px;
      }
      &-detail {
        margin-left: 16px;
      }
      &-name {
        font-size: 14px;
        margin: 0;
        padding: 0 0 8px;
        line-height: 1.5;
        text-align: left;
      }
      &-price {
        margin: 0;
        text-align: left;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  &-content-inner {
    width: 343px;
    margin: 0 auto;
  }
  &-price-box {
    display: flex;
    justify-content: space-between;
    padding-bottom:32px;
    &-label {
      font-weight: 600;
      font-size: 18px;
      margin-top: 8px;
    }
    .buy-price {
      font-size: 30px;
      text-align: right;
    }
  }
  &-payment {
    padding: 24px 0 32px;
    font-size: 14px;
    font-weight: 600;
    &-link {
      color: #0099e8;
      text-decoration: none;
      font-weight: normal;
      margin: 8px 0 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .user-info {
    padding: 24px 0 32px;
    &-label {
      display: flex;
      justify-content: space-between;
    }
    &-link {
      color: #0099e8;
      text-decoration: none;
      font-weight: normal;
      margin: 8px 0 0;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-address {
      text-align: left;
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  button {
    border: 1px solid #888;
    background: #888;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }
}