/* 住所入力ページ- adress.html.haml================================ */
.contents{
  height: 100%;
  width: 460px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .type-adress{
    width: 100%;
    height: 80px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
  }
  .type__name{
    width: 100%;
    height: 25px;
    display: flex;
    padding-left: 40px;
    margin-top: 35px;
    .type{
      font-weight: bold;
    }
    .logo{
      width: 50px;
      height: 25px;
      color: #fff;
      text-align: center;
      background-color: red;  
      margin-left: 10px;
      border-radius: 4px;
    }
    .logo_no{
      width: 50px;
      height: 25px;
      color: #fff;
      text-align: center;
      background-color:gainsboro;  
      margin-left: 10px;
      border-radius: 4px;
    }
  }
  .name__area{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-last-name{
      height: 40px;
      border-radius: 4px;
    }
    .login-first-name{
      margin-top: 5px;
      height: 40px;
      border-radius: 4px;
    }
  }
  .name__kana{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-last-kana{
      height: 40px;
      border-radius: 4px;
    }
    .login-first-kana{
      height: 40px;
      border-radius: 4px;
    }
  }
  .post__number{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-post-number{
      height: 40px;
      border-radius: 4px;
    }
  }
  .prefecture{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-prefecture{
      height: 40px;
      border-radius: 4px;
    }
  }
  .city{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
   .login-city{
    height: 40px;
    border-radius: 4px;
   } 
  }
  .adress{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-adress{
      height: 40px;
      border-radius: 4px;
    }
  }
  .building{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-building{
      height: 40px;
      border-radius: 4px;
    }
  }
  .phone_num{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    .login-phone_num{
      height: 40px;
      border-radius: 4px;
    }
  }
  .type-next{
    margin: 50px 40px;
    .login-submit{
      width: 100%;
      height: 48px;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      font-size: 14px;
    }
  }
}



/* 完了ページ- adress.html.haml================================ */
  .type-done{
    width: 100%;
    height: 90px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    font-weight:bold;
    border-bottom: 1px solid #ccc;
  }
  .type__thx{
    width: 100%;
    height: 25px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  .type__regi{
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  .red__logo-start{
    margin: 50px 40px;
    .start__app{
      width: 100%;
      height: 48px;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      font-size: 17px;
    }
  }
