.logout{
  margin: 0 auto;
  width: 1020px;
  display: flex;
  &__box{
    width: 700px; 
    height: 179px;
    background-color: #fff;
    align-items: center;
    &__submit{
      margin: 65px auto;
      width: 320px;
      height: 50px;
      padding: 16px;
      position: relative;
      .logout2{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #e62017;
        line-height: 50px;
        text-align: center;
        color: white;
        text-decoration: none;
      }
    }
  }
}