
.side{
  width: 280px;
  margin: 0 40px 40px 0;
  float: left;
  &__lists{
    background-color: #fff;
    &--list{
      height: 50px;
      list-style: none;
      border-bottom: 1px solid #eee;
      position: relative;
      .list{
        padding: 16px;
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        text-decoration: none;
        color: #333;
        font-size: 14px;
      }
    }
    &--list:hover{
      background-color: rgba(128, 128, 128, 0.76);
    }
  }
}