.top{
  height: 100%;
  width: 100%;
  &__advertising{
    height: auto;
    width: 100%;
    background-image: url("top-background.jpeg");
    position: relative;
    .advertisement-box{
      display: flex;
      justify-content: space-around;
      .advertisement-fonts{
        color: grey;
        font-size: 40px;
        padding: 40px 0 0 40px;
        display: block;
        .advertisement-fonts2{
          color: grey;
          font-size: 20px;
          padding-top: 20px;
        }
        .advertisement-img{
          padding-top: 20px;
          .apple{
            height: 38px;
            width: 128px;
            text-decoration: none;
          }
          .google{
            height: 38px;
            width: 128px;
          }
        }
      }
      .advertisement{
        position: absolute;
        display: block;
        height: 100%;
        width: auto;
        padding-right: 100px;
        right: 0;
      }
    }
  }
  &__like{
  }

  &__category{
    height: 171px;
    padding:  30px 0 10px 0 ;
    &__font{
      text-align: center;
      h2 {
        font-size: 28px;
      }
      &--list{
        height: 50px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        .select-list{
          background-color: #efefef;
          color: black;
          border-radius: 15px;
          text-decoration: none;
          padding: 10px;
          margin-left: 10px;
          font-size: 14px;
          line-height: 14px;
          z-index: 1;
        }
      }
    }
  }

  &__category-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f5f5;
    &__category-list{
      max-width: 1000px;
      margin-top: 60px;
      &__top{
        display: flex;
        justify-content: space-between;
        &--name{
          font-size:  15px;
        }
        &--more{
          line-height: 60px;
          text-align: right;
          .more{
            text-decoration: none;
            color: #0095ee;
          }
        }
      }
      &--imgs{
        display: flex;
        .product {
          height: 250px;
          width: 20%;
          padding: 10px;
          &__wrap {
            background-color: #fff;
            width: 100%;
            height: 230px;
            position: relative;
            a {
              height: 100%;
              text-decoration: none;
            }
          }
          &__wrap:hover{
            box-sizing: content-box;
            box-shadow: 0 0 2px blue;
            z-index: 1;
          }
          &__img{
            position: absolute;
            height: 100%;
            min-height: 180px;
            overflow: hidden;
            &__price{
              text-decoration: none;
              color: white;
              position: absolute;
              height: 28px;
              width: 80px;
              font-size: 17px;
              text-align: center;
              line-height: 28px;
              background-color: rgba(0, 0, 0, 0.315);
              left: 0;
              bottom: 70px;
              border-radius : 0 15px 15px 0;
            }
          }
          &__name {
            height: 64px;
            width: 180px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            .name {
              height:64px;
              width: 180px;
              padding: 8px 15px;
              background-color: #fff;
              color: #333;
              text-overflow: ellipsis;
              line-height: 25px;
              text-decoration: none;
              color: black;
              font-size: 14px;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}
.exhibition1{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 160px;
  border-radius: 100%;
  background-color: red;
  text-align: center;
  line-height: 160px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  z-index: 1;
  .camera__logo{
    width: 100%;
    align-items: center;
    display: flex;
    .text{
      transform: translateY(-28%) translateX(79%); 
    }
    .fas.fa-camera{
      font-size: 70px;
      color: white;
      transform: translateY(24%) translateX(-20%); 
    }
  }
}