.user{
  width: 700px;
  height: 1190px;
  &__icon{
    width: 700px;
    height: 200px;
    text-align: center;
    background-image: image-url("cloud.jpeg");
  }
  &__about {
    padding: 1px;
    // display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  &__image{
    top: 20px;
    margin-top: 50px;
    border-radius: 50%;
  }
  &__name{
    // height: 10px;
    display: block;
  }
  &__tab{
    .tab{
      display: flex;
      justify-content: space-between;
      margin-left: 80px;
      margin-right: 80px;
      list-style: none;
      height: 74px;
      h3 {
        line-height: 72px;
      }
    }
  }
  &__contents{
    background-color:#FAFAFA;
    width: 100%;
    height: 80px;
    display: flex;
    .app__image{
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .app__text{
      background-color:#FAFAFA;
      width: 100%;
      height: 60px;
      margin-top: 10px;
    }
  }
  &__index{
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    text-align: center;
    font-size: 15px;
    .index__text{
      height: 50px;
      padding-top: 15px;
      .text{
        color: black;
        list-style: none;
        font-size: 15px;
        text-decoration: none;

      }
    }
  }
  &__item{
    background-color:#FAFAFA;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    .buy__items{
      width: 100%;
      height: 60px;
      background-color:#FAFAFA;
      padding-top: 10px;
      .buy__item{
        padding: 0 16px;
      }
    }
    .tab__item{
      display: flex;
      justify-content: space-between;
      margin-left: 160px;
      margin-right: 160px;
      list-style: none;
      height: 74px;
      padding: 0;
    }
    .trade__text {
      margin-top: 80px;
      width: 100%;
      text-align: center;
      color: #CCCCCC;
    }
  }
}
h3{
  font-size: 18px;
  color: #333;
  line-height: 1;
}
.mypage-tab-container {
  background: #fff;
  width: 700px;
  .mypage-tab-head {
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  .mypage-tabs {
    border: 0;
    background: #eee;
    font-size: 0;
    li {
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3 {
        font-size: 22px;
      }
      a {
        text-decoration: none;
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
      }
    }
    .active a {
      border-top: 2px solid #ea352d;
    }
  }
  .tab-content .tab-pane {
    display: block;
    .mypage-item-not-found {
      padding: 160px 0 60px;
      background: image-url("logo_gray.svg");
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }  
  // 出品中ーーーーーーーーーーーーーーーーー
  .mypage-tab-head {
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  .listing-tabs {
    border: 0;
    background: #eee;
    font-size: 0;
    & .active {
      background: #fff;
    }
    li {
      width: 33.3%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3 {
        font-size: 22px;
        a {
          text-decoration: none;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
      }
    }
    li.active a{
      border-top: 2px solid #ea352d;
    }
  }
  .tab-content {
    display: block;
    .mypage-item-list li {
      position: relative;
      a {
        text-decoration: none;
      }
      &:first-child {
        border-bottom: 1px solid #eee;
        color: #333;
      }
      .mypage-item-link {
        display: block;
        height: 80px;
        padding: 16px;
        color: #333;
      }
      figure {
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
      }
      .mypage-item-body {
        margin-left: 68px;
        .mypage-item-text {
          font-size: 14px;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
        }
        .listing-item-count {
          margin: 0 6px 0 0;
          font-size: 16px;
          
          i {
            color: #ccc;
          }
          & span {
            vertical-align: middle;
            margin: 0 0 0 2px;
            font-size: 16px;
            color: #888;
          }
          .mypage-item-status {
            display: inline-block;
            margin: 8px 0 0 0;
            padding: 5px 6px;
            border-radius: 2px;
            font: 66.6%;
            color: #fff;
            font-weight: bold;
          }
          .action-required {
            background: #ea352d;
            font-size: 12px;
          }
        }
        .fa-chevron-right {
          position: absolute;
          top: 50%;
          right: 16px;
          color: #333;
        }
      }
    }
  }
}