.header
  .header__center
    .header__top
      .icon
        %a.lists{:href => "/"}
          = image_tag "fmarket_logo_red.svg", class:"fmarket__logo", size: "134x36"
      .serch
        .serch__area
          %input.input{:action => "/jp/search/", :placeholder => "何かお探しですか？", :method => "post"}
          %a(href="#")
            %i.fas.fa-search
    .header__bottom
      %nav.categories__left
        %ul.categories__items
          %li.serch_categories
            %h4
              %a.lists{:href => "#"}
                %i.fas.fa-list-ul
                %span カテゴリーから探す
          %li.serch_brand
            %h4
              %a.lists{:href => "#"}
                %i.fas.fa-tag
                %span ブランドから探す
          .serch_items

      -if user_signed_in?
        %nav.categories__right
          %ul.user_area
            %li
              %a.lists(href="#")
                %i.far.fa-heart
                %span いいね！一覧
            %li
              %a.lists(href="#")
                %i.far.fa-bell
                %span お知らせ
            %li
              %a.lists(href="#")
                %i.fas.fa-check
                %span やることリスト
            %li
              %a.lists(href="/mypage")
                %i.far.fa-smile
                %span
                  マイページ
      -else
        %nav.categories__right
          %ul.user_area.no_session
            %li.btn.btn_red
              = link_to '新規会員登録', signup_registration_path
            %li.btn.btn_login
              = link_to 'ログイン', "/login"