%footer
  .footer-content
    = link_to 'プライバシーポリシー', href:"#", target:"blank"
    = link_to 'メルカリ利用規約', href:"#", target:"blank"
    = link_to '特定商取引に関する表記', href:"#", target:"blank"
  = image_tag "logo_gray.svg", alt:"mercari", class:'footer-logo'
  .copyright
    © 2020 team B